*{    
	margin: 0;
    padding: 0;
	font-family:futura-pt;
	box-sizing: border-box;
}
html{
	font-size:16px;
	}

#main_container{
	width:100%;
	height:auto;
}

/*------------------------header------------------*/
#header_container{
    width:100%;
    background-color:#7FB78F;
    overflow:hidden;
}

#logo_container img{
    max-height:180px;
    width:auto;
    float:left;
}

/*---nav bar---*/
#nav_bar_container{
	float:right;
	width:30%;
	padding-top:4rem;
	padding-right:2rem;

}
#nav_bar_list {
    list-style: none;
}
#nav_bar_list li{
	margin: 0 2rem; 
	display:inline;
	font-size:2rem;
	line-height:2rem;
	letter-spacing:1px;
	text-transform:uppercase;
	padding:0.5rem;
	font-weight:bold;
}
li.youarehere{
	color:#B21F58;
}
#nav_bar_list a:link{
	color:#000000;
	text-decoration:none;
}
#nav_bar_list a:visited{
	color:#000000;
	text-decoration:none;
}
#nav_bar_list a:hover{
	text-decoration:underline;
}
#nav_bar_list a:active{
	text-decoration:underline;
	color:#B21F58;
}
/*-end of nav bar-*/



/*------------------------body----------------------*/
#countdown_container{	
	width:100%;
	padding:4rem 1rem;
	background-color:#F6EACE;
	font-size:12vw;
	text-align:center;
	font-weight:bold;
	overflow: hidden;

}

/*---yellow bit---*/
#yellow_container{
	width:100%;
	padding:4rem 1rem;
	background-color:#ffd108;
	overflow: hidden;
}

#description_container{
	column-count:2;
	column-gap:1rem;
	margin:3rem;
}

#ticket_container{
	margin:0 50px;
	text-align:center;
}

#ticket_container a:link{
	color:#000000;
	text-decoration:none;
}
#ticket_container a:visited{
	color:#000000;
	text-decoration:none;
}
#ticket_container a:hover{
	text-decoration:underline;
}
#ticket_container a:active{
	text-decoration:underline;
	color:#A61F5E;
}


/*---lower third---*/
#bottom_container{	
	width:100%;
	padding:3rem 1rem;
	background-color:#F6EACE;
}

#body_container{
	width: 100%;
	overflow: hidden;
}

#text_container{
	width: 48%;      
	float: left;
	padding-right: 2%; 
	box-sizing: border-box;
	text-align:center;
	line-height:3rem;
	font-size:1.5rem;
}

/*---slideshow---*/
.slideshow-container {
  width: 50%;
  max-width: 1000px;
  margin: 0 auto;
  aspect-ratio: 16/9;
  float:right;
  position:relative;
  overflow: hidden;
}
.bts {
  display: none;
  width: 100%;
  height: 100%;
}
.bts img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 1rem;
  color: black;
  font-weight: bold;
  font-size: 5rem;
  font-weight:bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 1rem;
}

.next {
  right: 1rem;
}

.prev:hover, .next:hover {
  color: #f2595c;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*--------------------footer--------------------*/
#footer_container{
	width:100%;
	padding:4rem 1rem;
	background-color:#E57C34;
}

#links_container{
	text-align:center;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 3rem; 
}

.social-link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #000000;
    text-decoration: none;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.social-link:hover {
    text-decoration: underline;
}

.social-link:active {
    color: #F2DB66;
}
.social-link a:link{
	color:#000000;
	text-decoration:none;
}
.social-link a:visited{
	color:#000000;
	text-decoration:none;
}
.social-link a:hover{
	text-decoration:underline;
}
.social-link a:active{
	text-decoration:underline;
	color:#F2DB66;
}

/*--------------------text spec---------------------*/
h1{
	color:#B21F58;
	font-size:8rem;
	text-align:center;
	text-transform:uppercase;
	font-style:italic;
}

h2{
	color:#B21F58;
	font-size:4rem;
	text-transform:uppercase;
	font-style:italic;
	margin:2rem;
}

h3{
	font-size:2rem;
}

h4{
	color:#B21F58;
	font-size:4rem;
	text-transform:uppercase;
	font-style:italic;
	margin:0;
}

p{
	font-size:1.5rem;
	text-align:left;
	font-weight:normal;
}

/*-----------About us Page-----------------*/
#left_container{
	width:21%;
	height:auto;
	float:left;
	margin-top:0;
	margin-bottom:1rem;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
}
#middle_1_container{	
	width:21%;
	height:auto;
	float:left;
	margin-top:0;
	margin-bottom:1rem;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
}
#middle_2_container{	
	width:21%;
	height:auto;
	float:left;
	margin-top:0;
	margin-bottom:1rem;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
}

#right_container{
	width:21%;
	height:auto;
	float:left;
	margin-top:0;
	margin-bottom:1rem;
	margin-left:2%;
	margin-right:2%;
	text-align:center;
}
.image_container {
	width: 100%;
	height: 100%;
	margin: 2%;
}

.image_container img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	aspect-ratio: 1 / 1;
}


/*---personal pages---*/
#personal_profile{
	width:100%;
	height:auto;
	overflow: hidden;
}

#person_description{
	width:60%;
	height:auto;
	float:left;
	margin:2%;
	text-align:left;
} 
#profile_pic{
	width:30%;
	height:auto;
	float:left;
	box-sizing: border-box;
}
.work {
  width: 50%;
  margin: 0 auto;
}

.work img {
  width: 100%;
  height: auto;
  display: block;
}

